{% call dialog(title='Spieler eintragen') %}
<main>
    <form method="post">
        {{ render_field(form.name, id=form.form_id) }}
        {{ render_field(form.password) }}
        {{ render_field(form.group) }}
        {{ render_field(form.email) }}
        <button type="submit" name="form" value="{{ form.form_id }}">Spieler eintragen</button>
    </form>
</main>
{% endcall %}