{% extends "_base.html.j2" %}

{% block header %}
<h1><a href="/">Das Mörderspiel</a> - Admin-Anmeldung</h1>
{% endblock %}

{% block main %}
<section id="admin-login">
    <h2>Admin-Anmeldung</h2>
    <p>Bitte geben Sie das Admin-Passwort ein, um auf die Verwaltungsseite zuzugreifen.</p>
    
    <form method="post">
        <fieldset>
            {{ render_field(admin_form.password) }}
            <button type="submit" name="form" value="{{ admin_form.form_id }}">Anmelden</button>
        </fieldset>
    </form>
</section>
{% endblock %}
