{% extends "_base.html.j2" %}

{% block main %}
<article>
    <header>
        <h1>Gamemaster-Bereich: {{ game.title }}</h1>
    </header>
    <main>
        {% include "partials/gameinfo.html.j2" %}

        <form method="post" class="grid">
            {% if not game.started %}
            <button class="primary" name="action" value="start-game">Spiel starten</button>
            {% elif not game.ended %}
            <button class="primary" name="action" value="end-game">Spiel abschließen</button>
            {% endif %}

            {% if game.started %}
            <a role="button" class="secondary" href="/game/{{ game.id }}/missions.pdf" target="_blank">Aufträge herunterladen</a>
            {% endif %}

            <a role="button" class="secondary" href="/game/{{ game.id }}" target="_blank">Zur Spiel-Seite</a>
        </form>
    </main>
</article>

<article>
    <header>
        <h1>Spieler</h1>
    </header>
    <main>
        <details>
            <summary role="button" class="secondary">Angemeldete Spieler</summary>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gruppe</th>
                        <th>Morde</th>
                        <th>Leben</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>
                {% for player in game.players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ player.group }}</td>
                    <td>{{ player.completed_missions | list | length }}</td>
                    <td>{{ player.victim_missions | rejectattr('completed') | list | length }}</td>
                    <td>
                        <form method="post">
                            <input type="text" style="display: none;" name="player" value="{{ player.name }}"/>
                            {% if game.started %}
                            <a role="button" class="primary" target="_blank" title="Aufträge herunterladen"
                               href="{{ url_for('player_missions', game_id=game.id, player_name=player.name) }}"
                               {{ '' if player.alive else 'disabled' }}>
                                {{ icon("file-document-outline") }}
                            </a>
                            <button class="primary" name="action" value="resend-player-missions" title="Aufträge neu versenden"
                                    {{ '' if player.alive and player.notifiable else 'disabled' }}>
                                {{ icon("email-sync-outline") }}
                            </button>
                            <button class="contrast" name="action" value="kick-player" title="Spieler kicken"
                                    {{ '' if player.alive else 'disabled' }}>
                                {{ icon("account-cancel-outline") }}
                            </button>
                            {% else %}
                            <button class="contrast" name="action" value="delete-player" title="Spieler löschen">
                                {{ icon("trash-can-outline") }}
                            </button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </details>
    </main>
    <div class="grid">
        {% if not game.started %}
        <a role="button" class="primary" target="_blank"
           href="{{ url_for('game', game_id=game.id, _anchor='add-player') }}">
            Spieler hinzufügen
        </a>
        {% endif %}
    </div>
</article>

<article>
    <header>
        <h1>Kreise</h1>
    </header>
    <main>
        {% if game.started %}
        {% for circle in game.circles %}
        <details>
            <summary role="button" class="secondary">
                {{- circle.name -}}
                {{- '(' ~ circle.set ~ ')' if circle.set else '' -}}
            </summary>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ermordet von</th>
                        <th>Wann?</th>
                        <th>Tathergang</th>
                    </tr>
                </thead>
                {% for mission in circle.missions | sort(attribute='position') %}
                <tr>
                    <td>{{ mission.victim.name }}</td>
                    <td>{{ mission.killer.name | default('', true) }}</td>
                    <td>{{ mission.completion_date | default('', true) }}</td>
                    <td>{{ mission.completion_reason | default('', true) }}</td>
                </tr>
                {% endfor %}
            </table>
        </details>
        {% endfor %}
        {% else %}
        <form method="post">
            <table>
                <thead>
                    <tr>
                        <th>Kreis</th>
                        <th>Kreis-Set</th>
                        <th>Spieler</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>
                {% for circle in game.circles %}
                <tr>
                    <td>{{ circle.name }}</td>
                    <td>{{ circle.set | default('', true) }}</td>
                    <td>{{ circle.missions | list | length }}</td>
                    <td>
                        <form method="post">
                            <input type="text" style="display: none;" name="circle" value="{{ circle.name }}"/>
                            {% if not game.started %}
                            <button class="contrast" name="action" value="delete-circle" title="Kreis löschen">
                                {{ icon("trash-can-outline") }}
                            </button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div role="group">
                <a role="button" class="primary" href="#{{ add_circle_form.form_id }}">Kreis hinzufügen</a>
            </div>
        </form>
        {% endif %}
    </main>
</article>
{% endblock %}

{% block modals %}
{% call dialog(title='Kreis hinzufügen') %}
<main>
    {% with form = add_circle_form %}
    <form method="post">
        {{ render_field(form.name) }}
        {{ render_field(form.set) }}
        <button type="submit" name="form" value="{{ form.form_id }}">Kreis hinzufügen</button>
    </form>
    {% endwith %}
</main>
{% endcall %}
{% endblock %}