{% extends "_base.html.j2" %}

{% block main %}
<article id="game-details">
    <header>
        <h1>
            Spiel: {{ game.title }}
        </h1>
        <a role="button" class="primary" href="#login-player">Login</a>
    </header>
    <main>
        {% include "partials/gameinfo.html.j2" %}

        <div role="row">
            <article>Massenmörder</article>
            <article>
                {{ mass_murderers | map(attribute='name') | join(', ') }}
                ({{ completed_missions | selectattr('killer', 'eq', mass_murderers[0]) | list | length }} Morde)
            </article>
        </div>
    </main>

    <footer class="grid">
        {% if game.started %}
        <a role="button" class="primary" href="#record-murder">Mord melden</a>
        {% else %}
        <a role="button" class="primary" href="#add-player">Spieler eintragen</a>
        {% endif %}

        {% if game.started %}
        <a role="button" class="secondary" href="{{ url_for('game_wall', game_id=game.id) }}">Mörderwall</a>
        {% endif %}

        <a role="button" class="secondary" href="{{ url_for('game_graph', game_id=game.id) }}" target="_blank">Spielgraph</a>

        <a role="button" class="secondary" href="{{ url_for('gamemaster', game_id=game.id) }}">Gamemaster-Bereich</a>
    </footer>
</article>

<div id="missions">
    {% for mission in completed_missions | rejectattr('kicked') -%}
        {% include "partials/mission.html.j2" %}
    {%- endfor %}
</div>
{% endblock %}