{% extends "_base.html.j2" %}

{% block main %}
<article id="player-options-for-game">
    <header>
        <h1>
            Player: {{ player.name }}
            <form method="post" style="text-align: right;">
                {% if game.started %}
                    <a role="button" class="primary" target="_blank" title="Aufträge herunterladen"
                       href="{{ url_for('player_missions', game_id=game.id, player_name=player.name) }}"
                       {{ '' if player.alive else 'disabled' }}>
                        {{ icon("file-document-outline") }}
                    </a>
                    <button class="primary" name="action" value="resend-player-missions" title="Aufträge neu versenden"
                            {{ '' if player.alive and player.notifiable else 'disabled' }}>
                        {{ icon("email-sync-outline") }}
                    </button>
                {% endif %}
            </form>
        </h1>
    </header>
</article>

{% if game.started and open_missions %}
<article>
    <header>
        <h3>Deine aktuellen Ziele</h3>
    </header>
    {% if player.alive %}
    <table>
        <thead>
        <tr>
            <th>Ziel</th>
            <th>Gruppe</th>
            <th>Kreis</th>
            <th>Code</th>
        </tr>
        </thead>
        <tbody>
        {% for mission in open_missions %}
        <tr>
            <td>{{ mission.victim.name }}</td>
            <td>{{ mission.victim.group }}</td>
            <td>{{ mission.circle.name }}</td>
            <td><code>{{ mission.code }}</code></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p><em>Du bist nicht mehr am Leben und hast keine aktiven Ziele.</em></p>
    {% endif %}
</article>
{% elif game.started %}
<article>
    <header>
        <h3>Deine aktuellen Ziele</h3>
    </header>
    <p><em>Du hast derzeit keine aktiven Ziele.</em></p>
</article>
{% endif %}

{% endblock %}
