{% extends "_base.html.j2" %}

{% block head %}
<style>
    body .container {
        max-width: 95vw;
    }
</style>
{% endblock %}

{% block header %}
<h1>Mörderwall - <a href=".">{{ game.title }}</a></h1>
{% endblock %}

{% block main %}
<div id="missions">
    {% if completed_missions_circleset %}
        {% for circle_set in completed_missions_circleset.keys() %}
            {% if completed_missions_circleset[circle_set] %}
                <p>
                    <h3>{{ circle_set or "Unassigned" }}</h3>
                    <article>
                    {% for mission in completed_missions_circleset[circle_set] -%}
                        {% include "partials/mission.html.j2" %}
                    {%- endfor %}
                    </article>
                </p>
            {% endif %}
        {% endfor %}
    {% else %}
        <article>
            <p><em>Noch keine Morde passiert! Die Mörderwall wird hier die abgeschlossenen Missionen anzeigen.</em></p>
            <p><small>Game Status: {{ game.state }}</small></p>
        </article>
    {% endif %}
</div>
{% endblock %}