{% extends "_base.html.j2" %}

{% block head %}
<style>
    body .container {
        max-width: 95vw;
    }
</style>
{% endblock %}

{% block header %}
<h1>Mörderwall - <a href=".">{{ game.title }}</a></h1>
{% endblock %}

{% block content %}
<div id="missions">
    {% for circle_set in  completed_missions_circleset.keys() %} <!-- TODO nicht schön-->
        <p>
            <h3> {{  circle_set }}</h3>
            <article>
            {% for mission in completed_missions_circleset[circle_set] -%}
                {% include "partials/mission.html.j2" %}
            {%- endfor %}
            </article>
        </p>
    {% endfor %}
</div>
{% endblock %}