{% for circle in game.circles %}
<details>
    <summary role="button" class="secondary">
        {{- circle.name -}}
        {{- '(' ~ circle.set ~ ')' if circle.set else '' -}}
        {{- ' - ' ~ (circle.missions | selectattr('completed') | rejectattr('kicked') | list | length) ~ ' Morde' -}}
    </summary>
    <table>
        <thead>
        <tr>
            <th>Spieler</th>
            <th>Ermordet von</th>
            <th>Wann?</th>
            <th>Tathergang</th>
        </tr>
        </thead>
        {% for mission in circle.missions | sort(attribute='position') %}
        <tr>
            <td>{{ mission.victim.name }}<br><small>{{ mission.victim.group }}</small></td>
            <td>{{ mission.killer.name | default('', true) }}<br><small>{{ mission.killer.group | default('', true) }}</small></td>
            <td>{{ mission.completion_date | default('', true) }}</td>
            <td>{{ mission.completion_reason | default('', true) }}</td>
        </tr>
        {% endfor %}
    </table>
</details>
{% endfor %}